<form action = "/sessions"   method="post">
  <input type="text" value="Email" name="email">
  <input type="password" name="password" value="">
  <input type="submit" name="submit" value="Login">
</form>

<%=link_to "Sign up", new_user_path%>
